<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirlineTicketingServer.Properties.Settings.customersFlightsConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Dekstop\source\repos\AirlineTicketing\AirlineTicketingServer\CustomersFlights.mdf;Integrated Security=True" />
        <add name="AirlineTicketingServer.Properties.Settings.CustomersFlightsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CustomersFlights.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>